.focus {
  background-color: #ffdda9;
}
.pauseTime {
  background-color: #dfdcfe;
}
.amountPauses {
  background-color: #c5f1ff;
}
.pauseTime,
.focus,
.amountPauses {
  padding: 25px;
  width: 425px;
}
