.countPomodoros {
    outline: 1px solid #C4C4C4;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.inputEdit {
    border: 2px solid #A8B64F;
    width: 90%;
    height: 40px;
    outline: none;
}