.currentTask {
  background-color: #c4c4c4;
  height: 55px;
  color: #ffffff;
  font-weight: bold;
}
.currentId,
.notActiveTask {
  padding-left: 20px;
}
.currentPomodoros {
  padding-right: 20px;
}
.currentPomodoros,
.currentId,
.notActiveTask {
  padding-top: 15px;
}
