.header {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.title,
.statistic {
  color: red;
}
.statistic:hover {
  color: #b7280f;
}
