.timerCounter {
  font-size: 105px;
}
.buttonTime {
  color: #ffffff;
  background-color: #d5d5d5;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 35px;
  border: none;
}
.buttonTime:hover {
  background-color: #899441;
  transition: background-color 0.4s;
}
